<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Bangladesh</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<style>

html,body{
    scroll-behavior: smooth;
}
@font-face {
      font-family: "SutonnyMJ";
      src: url("/fonts/kalpurush.ttf") format("truetype");
    }
    body{
        font-family: 'SutonnyMJ', sans-serif;
    }
</style>
</head>
<body class=" min-h-screen bg-gradient-to-br from-green-300 to-blue-600">

    <nav class="sticky top-0 w-full flex bg-teal-400/10 h-20 items-center justify-between" style="z-index: 99999;">
        <a href="/" class="flex items-center gap-0 justify-center"><img src="https://i.postimg.cc/9MWNQ3FR/supportbd-removebg-preview.png" alt="" 
            class="w-18 relative bottom-2"><span class="relative right-2 text-white font-semibold italic">সাপোর্টBD</span>
        
        
        
        
        
        
        </a>


        <a href="/allpost" class="p-3 px-4 rounded-2xl hover:text-blue-400 transition duration-300 relative right-3">
            
<i class="fas fa-file-alt"></i>
            সকল পোস্ট</a>
   
   
   
    </nav>






    
