<%- include('partials/header') %>

<div class="w-full h-screen p-4">

<form action="/upload-post" method="POST">



    <input type="text" placeholder="enter title" name="title">
    <input type="text" placeholder="enter content"  name="content">
    <input type="submit" value="submit">
</form>
</div>



<%- include('partials/footer') %>